@{
	ViewBag.Title = "GetDefaultFtpSettings";
	var model = (kCura.IntegrationPoints.FtpProvider.Helpers.Models.SettingsViewModel)Model;
	Layout = "~/Views/Shared/_StepLayout.cshtml";
}

<link href="~/Content/site.css" rel="stylesheet" />
<link href="~/Content/tooltip.css" rel="stylesheet" type="text/css" />

<div class="card">

	<label class="section label">Connection Information<img data-bind="click: openFtpConfigDetailsTooltip" class="tooltip-img" id="contextualHelp" style="padding-left:5px;">  </label>

	<div class="field-row">
		@Html.ValidationMessageFor(m => model.ValidationMessage, "", new { id = "validation_message", @class = "field-label", style = "color: red" })
	</div>
	<div class="field-row">
		@Html.LabelFor(m => model.Host, new { id = "host_label", @class = "field-label required", title = "Host: The address of the FTP or SFTP server, e.g. yourcompany.com" })
		<div class="field-value">
			@Html.TextBoxFor(m => model.Host, new { id = "host" })
		</div>
	</div>

	<div class="field-row">
		@Html.LabelFor(m => model.Protocol, new { id = "protocol_label", @class = "field-label required", title = "Protocol: Specifies if the standard File Transfer Protocol (FTP) or the SSH File Transfer Protocol (SFTP) should be used." })
		<div class="field-value"> @Html.DropDownListFor(m => model.Protocol, new SelectList(kCura.IntegrationPoints.FtpProvider.Helpers.ProtocolName.All), new { id = "protocol", onchange = "protocol_onchange();" }) </div>
	</div>

	<div class="field-row">
		@Html.LabelFor(m => model.Port, new { id = "port_label", @class = "field-label", title = "Port: The port of the server to connect to." })
		<div class="field-value"> @Html.TextBoxFor(m => model.Port, new { id = "port" }) </div>
	</div>

	<div class="field-row">
		@Html.LabelFor(m => model.Username, new { id = "username_label", @class = "field-label", title = "Username: If required for your connection, specifies the username to the use for authenticating. Leave blank to use anonymous." })
		<div class="field-value"> @Html.TextBoxFor(m => model.Username, new { id = "username", }) </div>
	</div>

	<div class="field-row">
		@Html.LabelFor(m => model.Password, new { id = "password_label", @class = "field-label", title = "Password: If required for your connection, specify the password to use for authentication. Leave blank to use anonymous." })
		<div class="field-value"> @Html.TextBoxFor(m => model.Password, new { type = "password", id = "password" }) </div>
	</div>

	<label class="section label">File Information</label>

	<div class="field-row">
		@Html.LabelFor(m => model.Filename_Prefix, new { id = "filename_prefix_label", @class = "field-label required", title = "CSV Filepath: The location of the CSV file to be imported from the FTP/SFTP. If you set the generated CSV file to always include the date, you can specify this filepath value to use date wildcards so that the latest file is always imported. For example, a filepath of /export/nightlyexport/*yyyy*-*MM*-*dd**_HRIS_export.csv will successfully import the most recently dated file." })
		<div class="field-value"> @Html.TextBoxFor(m => model.Filename_Prefix, new { id = "filename_prefix", placeholder = "e.g. /export/nightlyexport/*yyyy*-*MM*-*dd*_HRIS_export", style = "width: 250%;" }) </div>
	</div>

	@Html.HiddenFor(m => model.Timezone_Offset, new { id = "timezone_offset" })
</div>

@section scripts
{
	<script src="~/node_modules/knockout/build/output/knockout-latest.debug.js"></script>
	<script src="~/node_modules/knockout.validation/dist/knockout.validation.js"></script>
	<script src="~/Scripts/core/data.js"></script>
	<script src="~/Scripts/core/utils.js"></script>
	<script src="~/Scripts/integration-point/tooltip-view-model.js"></script>
	<script src="~/Scripts/integration-point/tooltip-definitions.js"></script>
	<script src="~/Scripts/integration-point/picker.js"></script>
	<script src="~/Scripts/ftpProvider/ftpProvider-edit.js"></script>
}