@using System.Globalization
@using kCura.IntegrationPoints.Web
@using kCura.IntegrationPoints.Web.Extensions
@model kCura.IntegrationPoints.Web.Models.IpDetailModel
@{
	ViewBag.Title = "Details";
	var ipModel = @Model.DataModel;
	var pagerID = @Model.Grid.ID + "Pager";
}

<link href="~/Content/controls.grid.css" rel="stylesheet" />
<link href="~/Content/controls-grid-pager.css" rel="stylesheet" />
<link href="~/Content/modals.min.css" rel="stylesheet" />

<div class="table full-width fixed full-height">
	<div class="cell">
		<div class="card">
			<label class="section label">General</label>
			<div class="field-row">
				<div class="field-label">Integration Name:</div>
				<div class="field-value details">
					@ipModel.Name
				</div>
			</div>
		</div>
		<div class="card">
			<label class="section label">Integration</label>
			<div class="field-row">
				<div class="field-label">Source Provider:</div>
				<div class="field-value details">@ipModel.SourceProvider</div>
			</div>
			<div class="field-row">
				<div class="field-label">Destination RDO:</div>
				<div class="field-value details">@ipModel.DestinationConfiguration</div>
			</div>
		</div>
		<div class="card">
			<label class="section label">Scheduling</label>


			@*@{if (ipModel.EnableScheduler == false || ipModel.EnableScheduler == null)
		 {
				<div class="field-row">
					<div class="field-label">Enable Scheduler:</div>
					<div class="field-value details">No </div>
				</div>
		 }
		 else
		 { 
				<div class="field-row">
					<div class="field-label">Enable Scheduler:</div>
					<div class="field-value details">Yes </div>
				</div>
				<div class="field-row">
					<div class="field-label">Frequency:</div>
					<div class="field-value details">@ipModel.Frequency</div>
				</div>
				<div class="field-row">
					<div class="field-label">Start Date:</div>
					<div class="field-value details">@ipModel.StartDate.GetValueOrDefault().ToString(Constants.DATE_FORMAT)</div>
				</div>
				<div class="field-row">
					<div class="field-label">End Date:</div>
					<div class="field-value details">@ipModel.EndDate.GetValueOrDefault().ToString(Constants.DATE_FORMAT)</div>
				</div>
				<div class="field-row">
					<div class="field-label">Scheduled Time:</div>
					<div class="field-value details">@ipModel.ScheduleTime</div>
				</div>		   
		 } 
			}
			*@


		</div>

		<div class="card">
			<label class="section label">Source Connection</label>

@*			<div class="field-row">
				<div class="field-label">Connection Path:</div>
				<div class="field-value details">@ipModel.ConnectionPath</div>
			</div>
			<div class="field-row">
				<div class="field-label">Object Filter String :</div>
				<div class="field-value details">@ipModel.FilterString</div>
			</div>
			<div class="field-row">
				<div class="field-label">Authentication:</div>
				<div class="field-value details">@ipModel.Authentication</div>
			</div>
			<div class="field-row">
				<div class="field-label">Username:</div>
				<div class="field-value details">@ipModel.Username</div>
			</div>
			<div class="field-row">
				<div class="field-label">Password:</div>
				<div class="field-value details">@ipModel.Password</div>
			</div>
			<div class="field-row">
				<div class="field-label">Import Nested Items:</div>
				<div class="field-value details">@ipModel.NestedItems</div>
			</div>*@

		</div>

		<div class="card">
			<label class="section label">Status</label>
			<div class="field-row">
				<div class="field-label">Next Scheduled Runtime:</div>
				<div class="field-value details">@ipModel.NextRun</div>
			</div>
			<div class="field-row">
				<div class="field-label">Last Runtime:</div>
				<div class="field-value details">@ipModel.LastRun</div>
			</div>

		</div>

		<div class="card">
			<label class="section label">Mapped Fields</label>
			<div id="@pagerID"></div>
			<table id="@Model.Grid.ID"></table>
			<div id="@Model.Grid.pagerID"></div>
		</div>
	</div>

	<div class="cell console">
		<div>
			<label class="label">
				IMPORT
			</label>
			<div class="section">

				<button id="importNowButton" class="button generic positive">Import Data Now</button>
			</div>

		</div>
	</div>
</div>


@section Scripts{
	<script src="~/Scripts/i18n/grid.locale-en.js"></script>
	<script src="~/Scripts/jquery.jqGrid.src.js"></script>
	<script src="~/Scripts/grid/dragon-grid.js"></script>
	<script src="~/Scripts/grid/dragon-utils.js"></script>
	<script src="~/Scripts/grid/dragon-grid-pager.js"></script>
	<script>
		var mapGrid = new Dragon.Grid.GridControl(@Html.JsonEncode(@Model.Grid));
		new Dragon.Grid.Pager({
			pagerID: '@Model.Grid.ID' + 'Pager',
			grid: mapGrid
		});
	</script>
	<script src="~/Scripts/integration-point/details.js"></script>
}
