@model kCura.IntegrationPoints.Web.Models.EditPoint

@section header{
	<div class="header-actions-container">
		<div style="position:absolute; right:70px"><button class="button secondary positive" id="cancel">Cancel</button></div>

		<div class="tooltip bottom" data-title="Help" style="position:absolute; right:40px">
			<span class="legal-hold icon-help"> </span>
		</div>
	</div>
	<h1>Create @Model.ArtifactTypeName</h1>
}

@*TODO: This is needed to style the Preview buttons that we place on the partial view with the RIP steps*@
@* Once the button location is finalized with UX, we may find a better place for this reference or pull out Preview button styles into own css file*@
<link href="~/Content/import.css" rel="stylesheet" />
<link href="~/Content/map_step_popup.css" rel="stylesheet" />

<div id="processingLocationErrorContainer"></div>

<div class="card ">
	<div class="table full-width">
		<div class="cell" id="stepProgress"></div>
		<div class="cell v-align h-align" id="progressButtons">
			<button class="button generic positive" id="back"><i class="icon-left-arrow"></i>Back</button>
			<button class="button generic positive" id="next">Next<i class="icon-right-arrow"></i></button>
			<button class="button generic positive" id="save" style="display: none;"><i></i>Save</button>
		</div>
	</div>
</div>

<div id="pointBody" data-bind="template: { name: 'currentTmpl', data: currentStep }"></div>

<script id="currentTmpl" type="text/html">
	<div data-bind="template: { name: template(), data: model }"></div>
</script>

@section scripts
{
	<script src="~/Scripts/iframeResizer.min.js"></script>
	<script src="~/node_modules/knockout/build/output/knockout-latest.js"></script>
	<script src="~/node_modules/knockout.validation/dist/knockout.validation.js"></script>
	<script src="~/Scripts/unsaved-changes-handler.js"></script>
	<script src="~/Scripts/core/data.js"></script>
	<script src="~/Scripts/core/utils.js"></script>
	<script src="~/Scripts/integration-point/time-utils.js"></script>
	<script src="~/Scripts/integration-point/binding.js"></script>

	<script>
		var helpURL = "https://help.relativity.com/RelativityOne/Content/Relativity/Integration_Points/Relativity_Integration_Points.htm";
	</script>
	<script src="~/Scripts/HelpUtil.js"></script>
	<script>
		IP.data.params = IP.data.params || {};
		IP.data.params['appID'] = @Model.AppID;
		IP.data.params['artifactID'] = @Model.ArtifactID;
		IP.data.params['userID'] = @Model.UserID;
		IP.data.params['caseUserID'] = @Model.CaseUserID;
		IP.data.params['URL'] = "@Html.Raw(@Model.URL)";
		IP.data.params['apiControllerName'] = '@Model.APIControllerName';

		var getToggleValue = function(toggleName) {
            var toggleValue = IP.data.ajax({
                url: IP.utils.generateWebAPIURL('ToggleAPI', toggleName),
                type: 'get'
            }).fail(function (error) {
                console.log(error);
            });
            return toggleValue;
        }

		var promise = getToggleValue('kCura.IntegrationPoints.Common.Toggles.EnableTaggingToggle');
		promise.then(function (result) {
			IP.data.params['EnableTaggingToggleValue'] = result;
		});

		var promise = getToggleValue('kCura.IntegrationPoints.Common.Toggles.EnableSmartOverwriteFeatureToggle');
		promise.then(function (result) {
			IP.data.params['EnableSmartOverwriteFeatureToggleValue'] = result;
		});

		IP.unsavedChangesHandler = new UnsavedChangesHandler();
		IP.unsavedChangesHandler.register();

        $("#cancel").on("click", function() {
			IP.unsavedChangesHandler.unregister();
			var getBasePath = IP.utils.getBasePath();
			var route = IP.redirect.get();
			if (!IP.redirect.isEdit()) {
				route = document.URL.split('CustomPages')[0]+"@Html.Raw(@Model.URL)" ;
			}
			window.top.location =route;
		});

    </script>
	<script src="~/Scripts/Import/import-preview-options-btn.js"></script>

	@Scripts.Render("~/bundles/ipEdit")
	@Scripts.Render("~/bundles/dragon")
	@Scripts.Render("~/bundles/exportProvider")
}
