<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />
	<link href="//fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet" type="text/css" />
	<title>@ViewBag.Title</title>
	<link href="~/Content/css/select2.css" rel="stylesheet" />
	@Styles.Render("~/Content/css")
	
	@Styles.Render("~/Content/themes/base/css")
	@Scripts.Render("~/bundles/modernizr")
</head>
	<body>
				<div id="headerContainer">
			@RenderSection("header", required: false)
		</div>

		@RenderBody()
		@Scripts.Render("~/bundles/jquery")
		<script src="~/Scripts/select2.min.js"></script>
		<script src="~/Scripts/q.js"></script>
		
		
		@Scripts.Render("~/bundles/jqueryui")
		
		@Scripts.Render("~/bundles/messaging")
		<script src="~/Scripts/loading-modal.js"></script>
		@RenderSection("scripts", required: false)
		<script>
			Q.longStackSupport = true;
		</script>
	</body>
</html>
